/* ==========================================================================
   PIZZA
   ========================================================================== */
   @import url('https://fonts.googleapis.com/css?family=Roboto:400,700,900');

   /* PRESETS
   ============================================ */
   
   html {
     -webkit-box-sizing: border-box;
             box-sizing: border-box;
   }
   *, *:before, *:after {
     -webkit-box-sizing: inherit;
             box-sizing: inherit;
   }
   
   body {
     margin: 20px 0;
     padding: 0;
     line-height: 1;
     font-family: 'Roboto', sans-serif,'Brush Script MT';
     color: #202020;
     background-color: #080808;
     font-smooth: always;
     -webkit-font-smoothing: antialiased;
     -moz-osx-font-smoothing: grayscale;
   }
   
   .card .badge {
     font-size: 16px;
   }
   
   .card .text-secondary {
     line-height: 25px;
   }
   
   .toast.show {
     position: absolute;
     left: 20px;
     bottom: 20px;
     z-index: 10;
   }



   h2.BrushSc-font {
    font-family: 'Brush Script MT', sans-serif !important ;
    }

   //==========RESPONSIVE TYPOGRAPHY==================//@at-root



   h1 { font-size: 15px; }

   @media screen and (min-width: 480px) {
     h1 { font-size: 16px; }
   }
   @media screen and (min-width: 640px) {
     h1 { font-size: 17px; }
   }
   @media screen and (min-width: 1024px) {
     h1 { font-size: 19px; }
   }
   
   